<main>
    <nav class="d-flex justify-content-between bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
        <div class="container-fluid d-flex justify-content-end">
            <a class="navbar-brand" href="{{url}}/cart/{{cart}}" id="cartLink" name="{{cart}}">carrito</a>
            <a href="/profile" class="navbar-brand">perfil</a>
            <a href="/logout" class="navbar-brand">logout</a>
        </div>
    </nav>

    <h1>Productos:</h1>
    <div id="productsList">
        {{#each products}}
        <div>
            <p>producto: {{this.title}}</p>
            <p>{{this.description}}</p>
            <p>marca: {{this.brand}}</p>
            <p>precio: {{this.price}}</p>
            <p>codigo de producto: {{this.code}}</p>
            <p>stock {{this.stock}}</p>
            <button class="btn btn-primary" name="{{this.id}}" id="{{@index}}">añadir al carrito</button>
        </div>
        <br>
    {{/each}}
    </div>
    

    {{#if hasPrevPage}}
        <a href="/?page={{prevPage}}"><button>anterior</button></a>
    {{/if}}

    {{page}}
    
    {{#if hasNextPage}}
        <a href="/?page={{nextPage}}"><button>siguiente</button></a>
    {{/if}}
</main>
<script type="module" src="/js/productsales.js"></script>